@import '_reset';

.main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 82px);
    // height: 100vh;
    // height: 100%;
    padding-top: 100px;
    background: #000;
    color: #fff;
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-info__notice {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-size: 12px;
}

.main-info-squad {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    color: #ebebeb;
    cursor: pointer;
}

.main-info-coins {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.main-list__wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.main-list-question {
    display: flex;
    justify-content: space-between;
    background: rgb(25, 38, 61);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    transition: .3s all;

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    &:hover {
        background: rgb(36, 49, 70);
    }
}


.main-list {
    margin-top: 10px;
    // background: tomato;
    margin-bottom: 10px;
    overflow-y: auto;
    height: 500px;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main-menu {
    display: flex;


    &__link {
        width: 33.3%;
        background: #000;
        text-align: center;
        background: rgb(25, 38, 61);
        color: #fff;
        padding: 15px;
        cursor: pointer;
        font-size: 13px;

        &:not(:last-child) {
            border-right: 1px solid #ebebeb;
        }

        &:hover {
            background: rgb(36, 49, 70);
        }

        &:first-child {
            border-top-left-radius: 5px;
        }
        &:last-child {
            border-top-right-radius: 5px;
        }
    }
}